/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
  box-sizing: border-box;
}

header {
  margin: 5px 20px 10px 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  width: 50%;
}

h1 {
  font-size: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #D1D9EC;
  margin-bottom: 5px;
}

header p {
  color: #EF5E4A;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input {
  background-color: #2E3842;
  border: none;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid #EF5E4A;
  margin: 5px 10px;
}

input::placeholder {
  color: #EF5E4A;
}

input:focus {
  background-color: #D1D9EC;
  border: none;
  border-bottom: 2px solid #EF5E4A;
}

li {
  font-size: 20px;
  margin: 20px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  width: inherit;
  display: table;
}

button {
  margin: 5px 20px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #D1D9EC;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2E3842;
}

.app {
  margin: 50px auto;
  padding: 30px;
  background-color: #2E3842;
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
}

.complete {
  text-decoration: line-through;
  color: #EF5E4A;
}

.todo-form {
  display: flex;
}

.form-btns {
  display: flex;
  align-items: flex-end;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}

.task-input {
  margin-top: 40px;
}

.add-btn:hover {
  background-color: rgb(74, 239, 102);
}

.clear-btn:hover {
  background-color: #EF5E4A;
}





